<html> 
    <head>
        <title>Payment Status</title>
    </head>
    <body>
        <h1>Payment Page</h1>
        {% if (status == false) %}
            <h1> Payment Failed</h1>
        {% else %}
            <h1> Payment Successfull</h1>

            <ul>
                <li>Amount : {{ data.amount }}</li>    
                <li>User : {{ data.customer.email }}</li>    
            </ul>
        {% endif %}
    </body>
</html>